<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Create Post</h1>
        <div class="buttons">
            <button class="button button-clear button-primary button-assertive" ng-click="modal.hide()">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doLogin()">

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Post title" ng-model="postData.title">
            </label>
            <label class="item item-input">
                <textarea placeholder="Post description" ng-model="postData.description"  cols="30" rows="10"></textarea>
            </label>
            <label class="item item-input">
                <input type="file" accept="image/*" ng-model="postData.image">
            </label>
        </div>
        <label class="item">
            <button class="button button-block button-positive" type="submit">Create</button>
        </label>

        </form>
    </ion-content>
</ion-modal-view>
      