<ion-view view-title="Posts"> 
  <ion-nav-buttons side="right">
      <button class="button button-icon ion-plus-circled" title="create post" ng-click="modal.show()"></button>
  </ion-nav-buttons>

  <ion-content>
      <div class="list">
          <a class="item item-thumbnail-left" ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
            <img src="https://via.placeholder.com/150">
            <h2>{{playlist.title}}</h2>
            <p>{{playlist.writer}}</p>
          </a>
      </div>
  </ion-content>
</ion-view>