/* Empty. Add your own CSS if you like */
.bg-black{
    background-color: #000000;
    color: #fff;
    display: inline-flex;
    width: 100%;
    align-items: center;
}
.bg-black > img:first-child{
    top: 10px;
    left: 15px;
    max-width: 50px;
    max-height: 50px;
}